#footer
	p Patrick Conant + Jesse Michel | 
		a(href='http://www.prcapps.com') PRC Applications
	p Check out the project on 
		a(href='https://github.com/conantp/avlpark') Github		
	p 
		a(href='https://keen.io?s=badge' rel='nofollow')
			img(src='https://blog.keen.io/wp-content/uploads/2018/07/Keen_Logo_The-Event-Log_Blog-uai-258x89.png' alt='Analytics by Keen IO')
