#footer
	p Patrick Conant + Jesse Michel | 
		a(href='http://www.prcapps.com') PRC Applications
	p Check out the project on 
		a(href='https://github.com/conantp/avlpark') Github		
	p 
		a(href='https://keen.io?s=badge' rel='nofollow')
			img(src='https://goo.gl/cd3mgy' alt='Analytics by Keen IO')
