extends layout

block content
	#container
	h2.current-date.text-center
	h3.total-available.text-center There are 
		b.total-available-count
		|  available deck spaces in downtown Asheville right now 
	ul#parking-deck-list.container-fluid
		
	script(type='text/javascript').
		var activeData = !{JSON.stringify(activeData)};
		var keen_data = !{JSON.stringify(keen_data)};

	script(src='/js/app.js')
