h1.text-center
	img(src='/images/AVLPark-logo.png').text-center 
	<!-- span.project-name AVLPark -->
	<!-- span  - Public Parking Data! -->
nav
	ul
		li 
			a(href='/') Home
		li
			a(href='/about') About
		li
			a(href='/stats') Stats
