h1.text-center
	div#avlparklogo_hype_container(style="margin:auto;width:100%;height:135px;overflow:hidden;max-width:600px;",aria-live="polite")
		script(type='text/javascript',charset='utf-8',src='/animations/AVLPark%20Logo.hyperesources/avlparklogo_hype_generated_script.js?48882')
	<!-- img(src='/images/AVLPark-logo.png').text-center -->
	<!-- span.project-name AVLPark -->
	<!-- span  - Public Parking Data! -->
nav
	ul
		li 
			a(href='/') Home
		li
			a(href='/about') About