@import url("//fonts.googleapis.com/css?family=Wallpoet");
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
  padding-bottom: 1em;
}
.odometer.odometer-auto-theme,
.odometer.odometer-theme-digital {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-digital .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-digital .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-digital .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-digital .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-digital .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-digital .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-digital .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.odometer.odometer-auto-theme,
.odometer.odometer-theme-digital {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiZjVhNSIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(rgba(139, 245, 165, 0.4), #000000);
  background-image: -webkit-radial-gradient(rgba(139, 245, 165, 0.4), #000000);
  background-image: radial-gradient(rgba(139, 245, 165, 0.4), #000000);
  background-color: #000;
  font-family: "Wallpoet", monospace;
  padding: 0 0.2em;
  line-height: 1.1em;
  color: #8bf5a5;
}
.odometer.odometer-auto-theme .odometer-digit + .odometer-digit,
.odometer.odometer-theme-digital .odometer-digit + .odometer-digit {
  margin-left: 0.1em;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  /*text-shadow: 1px 1px 5px rgba(0,0,0,0.8);*/
  /*color: white;*/
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(10px);
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-image: url("http://dev-open-housing-asheville.pantheon.io/wp-content/uploads/2015/05/Asheville_Downtown_panorama1.jpg");*/
  z-index: -999999;
  -webkit-filter: blur(10px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(10px);
}
#wrapper {
  /*background: rgba(0,0,0,0.5);*/
  transition: all 1s;
  height: 125%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h1 span.project-name {
  font-weight: bold;
}
h1 {
  padding: 10px;
  font-size: 1.8em;
  text-align: center;
  border-bottom: 3px solid rgba(128, 255, 128, 0.9);
  /*text-shadow: 1px 1px 5px rgba(255,255,255,0.8);*/
}
h2 {
  padding: 10px;
}
#container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 800px;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}
.year-list li {
  display: inline-block;
  width: 33%;
  color: white;
  padding: 10px;
}
#parking-deck-list {
  display: none;
  padding: 0 20px;
  min-height: 400px;
}
#parking-deck-list h2 {
  font-size: 1.4em;
  /*text-align: left;*/
  /*display: inline-block;*/
  margin: 10px auto;
  padding: 0;
}
.score {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: none;
}
.deck-green .parking-deck-inner {
  /*.linear-gradient(180deg, fade(lighten(green, 50%), 90%), fade(lighten(green, 20%), 80%) );*/
  background: #58B858;
}
.deck-red .parking-deck-inner {
  /*.linear-gradient(180deg, lighten(red, 20%), red);*/
  background: #C04141;
}
.deck-orange .parking-deck-inner {
  /*.linear-gradient(180deg, fade(lighten(yellow, 20%), 90%), fade(lighten(orange, 0%), 80%) );*/
  background: #FFAC2D;
}
.deck-black {
  /*.linear-gradient(180deg, fade(#666, 80%), fade(black, 80%) );*/
  background: #5D5D5D;
}
.year-list {
  margin-top: 10px;
  /*border-radius: 5px;*/
  /*.linear-gradient(180deg, fade(#666, 80%), fade(black, 80%) );*/
  background: #5D5D5D;
  text-align: center;
}
.chart-container {
  margin-top: 10px;
  /*visibility: hidden;*/
}
#current-date {
  text-align: center;
  font-size: 1.4em;
}
.parking-deck-inner {
  cursor: pointer;
  color: white;
  overflow: hidden;
  /*padding: 20px;*/
  margin-bottom: 20px;
  border-radius: 3px;
  /*box-shadow: 1px -1px 10px rgba(0,0,0,0.5);*/
}
.parking-deck-footer {
  padding-top: 20px;
}
.chart,
.chart2,
.chart3 {
  background: rgba(0, 0, 0, 0.8);
  /*border-radius: 5px;*/
  width: 100% !important;
  height: 200px;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px 0;
}
#footer {
  border-top: 3px solid rgba(128, 255, 128, 0.9);
  padding: 20px;
  font-size: 1.5em;
}
#footer p {
  text-align: center;
  font-size: 0.8em;
}
#footer a {
  /*color: white;*/
}
/*HELPER CLASSES*/
.display-block {
  display: block;
}
.text-center {
  text-align: center;
}
nav {
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 10px;
  font-size: 1.5em;
}
